/*body index*/

body{
	background-color: #000000;
}

/* div menu items */

#item-princi_menu{
	color: white; 
	width: 500px; 
	outline: 2px solid rgba(255, 255, 255, 0.5);
	height: 720px;
	position: relative;
	margin-left: 5px; 
	top: 10px; 
}

/*img logo */

#icon{
	width: 230px; 
	height: 250px;
	position: relative; 
	margin-left: 130px; 
	top: 20px;
}

/* title THE GUYS */ 

#title-theguys{
	font-family: 'Roboto', sans-serif; 
	position: relative;
	text-align: center;
	font-size: 50px; 
	color: rgb(238, 138, 81);
}

/*comment text top title*/

p[name$="ress"]{
	font-family: 'Oswald', sans-serif;
	position: relative;
	text-align: center; 
	font-size: 20px; 
	bottom: 20px;
	color: rgb(140,141, 148);
}

/*LISTA CONTENIDO ITEMS MENU*/

ul[name^="list"]{
	list-style: none;
	position: relative; 
	text-align: center;
	font-size: 25px; 
	font-family: 'Titillium web', sans-serif; 
	bottom: 30px;
}

/*Enlace menu #01 #07*/

/*Subrayado a enlace item #01 */

.item-01{
	text-decoration: none;
}

/*Color blanco texto item #01*/

#list-1{
	color: white;
}

/*Hover naranja item #01*/

#list-1:hover{
	color: #EE8A51; 

}

/*========================================*/

/*Subrayado a enlace item #02*/

.item-02{
	text-decoration: none;
}

/*Color blanco texto item #02*/

#list-2{
	color: white;
}

/*Hover naranja item #02*/

#list-2:hover{
	color: #EE8A51;
}

/*========================================*/

/*Subrayado a enlace item #03*/

.item-03{
	text-decoration: none;
}

/*Color blanco texto item #03*/

#list-3{
	color: white;
}

/*Hover naranja item #03*/

#list-3:hover{
	color: #EE8A51;
}

/*========================================*/

/*Subrayado a enlace item #04*/

.item-04{
	text-decoration: none;
}

/*COlor blanco texto item #04*/

#list-4{
	color: white;
}

/*Hover naranja item #04*/

#list-4:hover{
	color: #EE8A51;
}

/*========================================*/

/*Subrayado a enlace item #05*/

.item-05{
	text-decoration: none;
}

/*Color blanco texto item #05*/

#list-5{
	color: white;
}

/*Hover naranja item #05*/

#list-5:hover{
	color: #EE8A51;
}

/*========================================*/

/*Subrayado a enlace item #06*/

.item-06{
	text-decoration: none;
}

/*COlor blanco texto item #06*/

#list-6{
	color: white;
}

/*Hover naranja  item #06*/

#list-6:hover{
	color: #EE8A51;
}

/*========================================*/

/*Subrayado a enlace item #07*/

.item-07{
	text-decoration: none;
}

/*COlor blanco texto item #07*/

#list-7{
	color: white;
}

/*Hover naranja  item #07*/

#list-7:hover{
	color: #EE8A51;
}

/*========================================*/


/*END OF THE ITEMS AND MENU PRINCIPAL*/

/*DIV SECOND CONTEXT INICIO*/

#info-ini-tiem_2{
	position: relative;
	background-color: #000000;
	width: 1040px; 
	height: 720px;
	margin-left: 530px;
	bottom: 15px;
	position: absolute;
}

/*line 01 title*/

hr[name*="ls1"]{
	border: 1px solid rgba(238, 138, 81, 0.9);
	width: 110px;
	position: relative;
	margin-left: 40px; 
	float: left;
}

/*title middle hrs*/

#title-Estudio{
	color: white;
	font-family: sans-serif;
	font-size: 55px;
	position: relative;
	margin-left: 40px;
	bottom: 40px;
}

/*line 02 title*/

hr[name*="ls2"]{
	border: 1px solid rgba(238, 138, 81, 0.9);
	width: 110px;
	position: relative;
	margin-left: 40px;
	bottom: 90px;
}

/*subtittle text*/

#text-fer{
	color: white;
	font-size: 30px; 
	position: relative;
	font-family: 'Montserrat', sans-serif;
	bottom: 90px;
	margin-left: 30px;
}

/*title seguir*/

#text-siguenos{
	color: white;
	font-size: 40px; 
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
	bottom: 80px;
	position: relative;
}

/*lista redes*/

#list-redes{
	list-style:none;
	color: white;
	font-size: 30px; 
	position: relative;
	bottom: 30px; 
	font-family: 'Montserrat',sans-serif;
}

/*item list 01 facebook*/

.facebook{
	color: #FF0000;
	font-weight: bold;
}

.Reds{
	text-decoration: none;
	color: white;
}

.Reds:hover{
	color: #008AFF;
}

/*item list 02 instagram */

.instagram{
	color: #FF0000;
	font-weight: bold;
}

.Reds{
	text-decoration: none;
	color: white;
}

.Reds:hover{
	color: #008AFF;
}

/*item list 03 twitter*/

.twitter{
	color: #FF0000;
	font-weight: bold;
}

.Reds{
	text-decoration: none;
	color: white;
}

.Reds:hover{
	color: #008AFF; 
}

/*item list 04 youtube*/

.youtube{
	color: #FF0000;
	font-weight: bold;
}

.Reds{
	text-decoration: none;
	color: white;
}

.Reds:hover{
	color: #008AFF;
}

/*span a item 1-4*/

.cls{
	text-decoration: none;
}